<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="testDatabase" connectionString="Data Source=./;Initial Catalog=CourseAssignment;User ID=sa;Password=altohami" providerName="System.Data.SqlClient"/>
    <add name="DataAccessLayerTesting.Properties.Settings.CourseAssignmentConnectionString" connectionString="Data Source=./;Initial Catalog=CourseAssignment;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes" providerName="System.Data.SqlClient"/>
    <add name="DataAccessLayerTest.Properties.Settings.CourseAssignmentConnectionString" connectionString="Data Source=Ali-pc;Initial Catalog=CourseAssignment;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes" providerName="System.Data.SqlClient"/>
    <add name="DataAccessLayerTest.Properties.Settings.CourseAssignmentConnectionString1" connectionString="Data Source=Ali-pc;Initial Catalog=CourseAssignment;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
