/* tables */
table.tablesorter {
	/*font-family:arial;*/
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	/*font-size: 8pt;*/
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #D6CCC9;
  border: 1px solid #000000; /*font-size: 8pt;*/
  padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
  border-width: 1px;
  border-color: #727272;
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
	height:5px;
}
table.tablesorter tbody tr.odd td {
  background-color: #DFE6E0;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #E3BDB3;
}


table.tablesorter1 {
	/*font-family:arial;*/
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	/*font-size: 8pt;*/
	width: 100%;
	text-align: left;
}
table.tablesorter1 thead tr th, table.tablesorter1 tfoot tr th
{
    background-color: #D7D5C8;
    border: 1px solid #000000; /*font-size: 8pt;*/
    padding: 4px;
}
table.tablesorter1 thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter1 tbody td {
  border-width: 1px;
  border-color: #727272;
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
	height:5px;
}
table.tablesorter1 tbody tr.odd td
{
    background-color: #D6D2D1;
}
table.tablesorter1 thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter1 thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter1 thead tr .headerSortDown, table.tablesorter1 thead tr .headerSortUp {
  background-color: #E3BDB3;
}
